rqt-bag-plugins==1.1.5
rqt-console==2.0.3
osrf-pycommon==2.0.2
ament-lint-cmake==0.12.11
rqt-py-console==1.0.2
examples-rclpy-minimal-action-client==0.15.2
topic-monitor==0.20.5
launch==1.0.6
rqt-plot==1.1.2
rqt-action==2.0.1
launch-yaml==1.0.6
ros2lifecycle==0.18.11
ament-lint==0.12.11
rqt-gui-py==1.1.7
launch-testing-ros==0.19.7
launch-xml==1.0.6
rosidl-cli==3.1.5
action-tutorials-py==0.20.5
examples-rclpy-minimal-subscriber==0.15.2
examples-rclpy-executors==0.15.2
ament-copyright==0.12.11
ros2run==0.18.11
rqt-service-caller==1.0.5
ros2bag==0.15.12
examples-rclpy-minimal-action-server==0.15.2
sros2==0.10.5
tf2-ros-py==0.25.8
rqt-srv==1.0.3
quality-of-service-demo-py==0.20.5
ros2topic==0.18.11
rqt-topic==1.5.0
teleop-twist-keyboard==2.4.0
launch-ros==0.19.7
rqt-msg==1.2.0
ament-cppcheck==0.12.11
ros2doctor==0.18.11
tf2-tools==0.25.8
ros2action==0.18.11
ros2interface==0.18.11
rqt-gui==1.1.7
ros2component==0.18.11
ament-xmllint==0.12.11
launch-testing==1.0.6
rqt-bag==1.1.5
ros2cli==0.18.11
ros2node==0.18.11
rosidl-runtime-py==0.9.3
ros2multicast==0.18.11
rqt-reconfigure==1.1.2
ament-flake8==0.12.11
rqt-graph==1.3.1
ament-uncrustify==0.12.11
rqt-publisher==1.5.0
ros2launch==0.19.7
ament-package==0.14.0
rpyutils==0.2.1
demo-nodes-py==0.20.5
ros2service==0.18.11
ros2pkg==0.18.11
ament-index-python==1.4.0
ament-pep257==0.12.11
examples-rclpy-minimal-service==0.15.2
examples-rclpy-minimal-publisher==0.15.2
ament-cpplint==0.12.11
ros2param==0.18.11
rqt-shell==1.0.2
examples-rclpy-minimal-client==0.15.2
domain-coordinator==0.10.0
sensor-msgs-py==4.2.4
laser-geometry==2.4.0
resource-retriever==3.1.2
sensor-msgs==4.2.4
trajectory-msgs==4.2.4
rosidl-typesupport-fastrtps-cpp==2.2.2
image-geometry==3.2.1
lifecycle-msgs==1.2.1
turtlesim==1.4.2
nav-msgs==4.2.4
rosbag2-interfaces==0.15.12
rosidl-adapter==3.1.5
rmw-dds-common==1.6.0
rosidl-generator-cpp==3.1.5
example-interfaces==0.9.3
std-msgs==4.2.4
rosidl-generator-py==0.14.4
ament-cmake-test==1.3.10
rosbridge-server==2.0.0
tf2-kdl==0.25.8
pcl-msgs==1.0.0
qt-dotgraph==2.2.3
python-qt-binding==1.1.2
tf2-geometry-msgs==0.25.8
mvsim==0.11.1
rosidl-parser==3.1.5
angles==1.15.0
pendulum-msgs==0.20.5
shape-msgs==4.2.4
unique-identifier-msgs==2.2.1
rosidl-cmake==3.1.5
rosapi==2.0.0
rosbag2-py==0.15.12
rosidl-typesupport-introspection-cpp==3.1.5
cv-bridge==3.2.1
rosbridge-library==2.0.0
stereo-msgs==4.2.4
rosidl-typesupport-c==2.0.1
qt-gui==2.2.3
tf2-py==0.25.8
qt-gui-py-common==2.2.3
rosbridge-msgs==2.0.0
composition-interfaces==1.2.1
interactive-markers==2.3.2
rosapi-msgs==2.0.0
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
logging-demo==0.20.5
statistics-msgs==1.2.1
builtin-interfaces==1.2.1
action-tutorials-interfaces==0.20.5
message-filters==4.3.5
std-srvs==4.2.4
rosidl-typesupport-introspection-c==3.1.5
rcutils==5.1.6
visualization-msgs==4.2.4
action-msgs==1.2.1
map-msgs==2.1.0
diagnostic-msgs==4.2.4
geometry-msgs==4.2.4
rosgraph-msgs==1.2.1
tf2-msgs==0.25.8
rcl-interfaces==1.2.1
rclpy==3.3.14
actionlib-msgs==4.2.4
rosidl-generator-c==3.1.5
rqt-py-common==1.1.7
qt-gui-cpp==2.2.3
nvidia-cufft-cu12==11.2.1.3
GitPython==3.1.43
networkx==3.4.2
fsspec==2024.10.0
setproctitle==1.3.3
numpy==1.22.0
autobahn==24.4.2
zipstream-ng==1.7.1
typing_extensions==4.12.2
wandb==0.18.6
sympy==1.13.1
PyOpenGL==3.1.7
magic-wormhole==0.15.0
pycparser==2.22
gitdb==4.0.11
protobuf==5.28.3
pyglet==1.4.11
docker-pycreds==0.4.0
cffi==1.17.0
attrs==24.2.0
constantly==23.10.4
llvmlite==0.43.0
spake2==0.8
nvidia-cusparse-cu12==12.3.1.170
txaio==23.1.1
numba==0.60.0
torch==2.5.1
nvidia-cusolver-cu12==11.6.1.9
sentry-sdk==2.18.0
docopt==0.6.2
tomli==2.0.1
humanize==4.10.0
smmap==5.0.1
setuptools==65.5.0
nvidia-nvtx-cu12==12.4.127
urllib3==2.2.3
pyasn1_modules==0.4.0
cloudpickle==1.6.0
nvidia-cuda-nvrtc-cu12==12.4.127
triton==3.1.0
tqdm==4.66.5
nvidia-cudnn-cu12==9.1.0.70
Automat==24.8.1
Twisted==24.7.0
hkdf==0.0.3
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
service-identity==24.1.0
incremental==24.7.2
hyperlink==21.0.0
iterable-io==1.0.0
txtorcon==24.8.0
nvidia-cuda-runtime-cu12==12.4.127
pyasn1==0.6.0
zope.interface==7.0.3
nvidia-nvjitlink-cu12==12.4.127
wheel==0.38.0
mpmath==1.3.0
nvidia-nccl-cu12==2.21.5
gym==0.19.0
nvidia-curand-cu12==10.3.5.147
f110-gym==0.2.1
packaging==22.0
usb-creator==0.3.7
pyflakes==2.4.0
entrypoints==0.4
gast==0.5.2
netifaces==0.11.0
scipy==1.8.0
dbus-python==1.2.18
future==0.18.2
cupshelpers==1.0
platformdirs==2.5.1
nose==1.3.7
PyHamcrest==2.0.2
httplib2==0.20.2
txtorcon==20.0.0
lazr.restfulclient==0.14.4
soupsieve==2.3.1
rosdistro==0.9.1
distlib==0.3.4
osrf-pycommon==2.0.2
pydocstyle==6.1.1
beautifulsoup4==4.10.0
PyYAML==5.4.1
passlib==1.7.4
pycparser==2.21
packaging==21.3
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
appdirs==1.4.4
pyparsing==2.4.7
pycodestyle==2.8.0
beniget==0.4.1
language-selector==0.1
rosinstall==0.7.8
kiwisolver==1.3.2
rospkg==1.5.1
lxml==4.8.0
six==1.16.0
fs==2.4.12
attrs==21.2.0
Deprecated==1.2.13
sortedcontainers==2.1.0
pycups==2.0.1
rospkg-modules==1.5.1
fasteners==0.14.1
pyRFC3339==1.1
louis==3.20.0
catkin-tools==0.9.2
breezy==3.2.1
wrapt==1.13.3
gpg==1.16.0
docutils==0.17.1
wsaccel==0.6.3
more-itertools==8.10.0
Pygments==2.11.2
MarkupSafe==2.0.1
oauthlib==3.2.0
pyserial==3.5
numpy==1.21.5
pydot==1.4.2
cycler==0.11.0
distro==1.7.0
wstool==0.1.18
spake2==0.8
ujson==5.1.0
unattended-upgrades==0.1
monotonic==1.6
gcovr==5.0
zipp==1.0.0
fastimport==0.9.14
pytz==2022.1
ufw==0.36.1
hyperlink==21.0.0
zope.interface==5.4.0
requests==2.25.1
base58==1.0.3
PyGithub==1.55
dulwich==0.20.31
pymacaroons==0.13.0
xdg==5
autobahn==21.11.1
rosinstall-generator==0.1.23
launchpadlib==1.10.16
pexpect==4.8.0
decorator==4.4.2
ply==3.11
blinker==1.4
PyJWT==2.3.0
py-ubjson==0.16.1
catkin-pkg==1.0.0
fastbencode==0.0.5
toml==0.10.2
reportlab==3.6.8
constantly==15.1.0
PyTrie==0.4.0
cbor==1.0.0
SecretStorage==3.3.1
PyGObject==3.42.1
empy==3.3.4
pytest==6.2.5
python-gitlab==2.10.1
u-msgpack-python==2.3.0
ecdsa==0.18.0b1
chardet==4.0.0
pluggy==0.13.0
importlib-metadata==4.6.4
Brotli==1.0.9
patiencediff==0.2.1
configobj==5.0.6
Automat==20.2.0
macaroonbakery==1.3.1
lazr.uri==1.0.6
cryptography==3.4.8
unicodedata2==14.0.0
catkin-pkg-modules==1.0.0
PyNaCl==1.5.0
jeepney==0.7.1
setuptools==59.6.0
tqdm==4.57.0
olefile==0.46
Cython==0.29.28
pycairo==1.20.1
command-not-found==0.3
snowballstemmer==2.2.0
mpmath==0.0.0
flake8==4.0.1
ubuntu-drivers-common==0.0.0
pyasn1==0.4.8
python-dateutil==2.8.1
py==1.10.0
mpi4py==3.1.3
pyxdg==0.27
mercurial==6.1.1
cffi==1.15.0
keyring==23.5.0
rosdistro-modules==0.9.1
urllib3==1.26.5
incremental==21.3.0
Jinja2==3.0.3
duplicity==0.8.21
Babel==2.8.0
pyasn1-modules==0.2.1
matplotlib==3.5.1
wxPython==4.0.7
pythran==0.10.0
flatbuffers==1.12.1-git20200711.33e2d80-dfsg1-0.6
ssh-import-id==5.11
xkit==0.0.0
bcrypt==3.2.0
txaio==21.2.1
vcstools==0.1.42
click==8.0.3
filelock==3.6.0
lark==1.1.1
Twisted==22.1.0
colorama==0.4.4
tornado==6.1
certifi==2020.6.20
PyQt5==5.15.6
roman==3.3
psutil==5.9.0
paramiko==2.9.3
PyQt5-sip==12.9.1
msgpack==1.0.3
webencodings==0.5.1
defer==1.0.6
lockfile==0.12.2
argcomplete==1.8.1
python-debian==0.1.43+ubuntu1.1
html5lib==1.1
sympy==1.9
distro-info==1.1+ubuntu0.2
Pillow==9.0.1
apturl==0.5.2
python-snappy==0.5.3
Mako==1.1.3
PyQRCode==1.2.1
pypng==0.0.20
simplejson==3.17.6
rosdep==0.25.1
wheel==0.37.1
protobuf==3.12.4
wadllib==1.3.6
service-identity==18.1.0
virtualenv==20.13.0+ds
iniconfig==1.1.1
hkdf==0.0.3
ptyprocess==0.7.0
systemd-python==234
ufoLib2==0.13.1
mccabe==0.6.1
fonttools==4.29.1
idna==3.3
Brlapi==0.8.3
pip==22.0.2
GeoIP==1.3.2
pyOpenSSL==21.0.0
humanize==0.0.0
magic-wormhole==0.12.0
lz4==3.1.3+dfsg
python-apt==2.4.0+ubuntu4
ubuntu-pro-client==8001
mnemonic==0.19
rosdep-modules==0.25.1
